*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 80%;
  margin: 0rem auto;
  padding-bottom: 3rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  
}

@media screen and (max-width:1390px) {
 .App{
  width: 95%;
 }
  
}
@media screen and (max-width:1084px) {
 .App{
  width: 100%;
 }
  
}